.custom-btn {
  display: block;
  /* width: 100% !important; */
  height: 45px;
  justify-content: center;
  align-items: center;
  outline: none !important;
  cursor: pointer !important;
  color: #fff;
  border-radius: 3px !important;
  background: linear-gradient(to top, #f68128 0%,  #feee3e 100%);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.custom-btn:hover {
  opacity: 0.8;
}
.custom-btn:focus {
  outline: none !important;
}
