.font-ExtraBold {
  font-family: "Helvetica-ExtraBold";
}
.font-Bold {
  font-family: "Helvetica-Bold";
}
.font-Medium {
  font-family: "Helvetica-Medium";
}
.font-Regular {
  font-family: "Helvetica-Regular";
}
.font-Light {
  font-family: "Helvetica-Light";
}
.font-ExtraLight {
  font-family: "Helvetica-ExtraLight";
}
