@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica-Bold";
  src: local("font"), url("./assets/font/Helvetica-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Helvetica-ExtraBold";
  src: local("font"),
    url("./assets/font/Helvetica-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Helvetica-Medium";
  src: local("font"),
    url("./assets/font/Helvetica-Medium.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica-Regular";
  src: local("font"),
    url("./assets/font/Helvetica-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica-Light";
  src: local("font"),
    url("./assets/font/Helvetica-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-ExtraLight";
  src: local("font"),
    url("./assets/font/Helvetica-ExtraLight.ttf") format("truetype");
  font-weight: 300;
}
